@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Baloo+Bhai+2&display=swap');
html{
    background-size:cover;
    background-image:url("bg3.jpg") ;

    height: 100%;
}
body{
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    color:white;
}
#errormessage{
    font-size: 15px;
    position: relative;
    bottom:60px;
    height: 20px;
    color: rgb(56, 56, 56);
}
.container {
    text-shadow: rgb(105, 99, 99) 1px 1px;
    margin: auto;
    border-radius: 20px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    position: relative;
}
.hide{
    display:none;
}
.show{
    display:contents;
}
#weather_icon{
    position: relative;
    margin:auto;
    margin-right: 10%;
    height:30%;
    width:35%;
}
#searchIcon{
    position:relative;
    left:-35px;
    color: rgb(56, 56, 56);
}
.resultCityInput{
    margin-top: 5%;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: white;
    height: 4vh;
    width:35vw;
    text-align: center;
    opacity: 80%;
}
.cityInput{
    margin-top: 20%;
    margin-bottom: 4%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: white;
    height: 4vh;
    width:35vw;
    text-align: center;
    opacity: 80%;
    font-size:1em;
}
#lowhigh{
    margin:auto;
    justify-content:space-between;
}

#results{
    background-color: rgba(128, 128, 128, 0);    
    backdrop-filter: blur(10px);
    width:35vw;
    height:58vh;
    max-height: 58vh;
    border-radius:10px;
    margin:auto;
    padding-bottom: 3%;
    box-shadow: 5px 5px 5px black;
}
.cityName{
    position: relative;
    font-size:2em;
}
.temperature{
    position: relative;
    font-size:4em;
    text-shadow: rgb(105, 99, 99) 2px 2px;
}
@media (min-width: 100px) and (max-width:500px) {
    #weather_icon{
        position: relative;
        margin:auto;
        margin-right: 10%;
        height:20%;
        width:28%;
    }
    .cityName{
        position: relative;
        font-size:1.5em;
    }
    .temperature{
        position: relative;
        font-size:2.5em;
        text-shadow: rgb(105, 99, 99) 2px 2px;
    }
    #results {
        -webkit-backdrop-filter:(1px);
        backdrop-filter: blur(10px);
        padding:5%;
        min-width:80vw;
        max-height:33vh;
    }
    .cityInput{
        margin-top: 50%;
        height: 3vh;
        width:50vw;
    }
    .resultCityInput{
        height: 3vh;
        width:50vw;
    }
  }
  @media (min-width: 501px) and (max-width:900px) {
    #results {
        -webkit-backdrop-filter:(1px);
        backdrop-filter: blur(10px);
        padding:5%;
        min-width:65vw;
        max-height:39vh;
    }
    .cityInput{
        margin-top: 50%;
        height: 4vh;
        width:45vw;
    }
    .resultCityInput{
        height: 4vh;
        width:45vw;
    }
  }

.description{
    font-size:1em;
}
.tempHigh{
    font-size:1em;          
}
.tempLow{
    font-size:1em;          
}
#lowhigh{
    justify-content: space-evenly;
}